*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
}

button {
    padding: 15px 20px;
    background-color: #4a65e8;
    border: 3px solid rgb(144, 146, 173);
    border-radius: 20px;
    color: white;
}

button:hover {
    background-color: #2c3f9b;
    border: 5px solid rgb(144, 146, 173);
    font-weight: bold;
}

/* Añade esto a assets/styles.css */
.swal-custom {
    background-color: #f8f9fa;
    border-radius: 15px;
}

.swal-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.swal-custom .swal2-popup {
    border: 3px solid #4a65e8;
    box-shadow: 0 0 15px rgba(74, 101, 232, 0.3);
}

.swal-custom .swal2-title {
    color: #2c3f9b;
    font-size: 1.5em;
}

/* En assets/styles.css */
#alertAudio {
    display: none; /* Asegura que el reproductor esté oculto */
}
